{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>blog home</title>
</head>

<body>
    <h1>장고로 블로그 만들어보기</h1>
    <a href="{% url 'post_new' %}">새 글 등록하러 가기</a>
    {% for post in posts %}
    <div class="post">
        <a href="{% url 'post_detail' index=post.pk %}">
            <h3>{{post.title}}</h3>
        </a>
        <span>{{post.post_time}}</span>
        <article>{{post.body}}</article>
    </div>
    {% endfor %}
</body>

</html>