<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>{{post.title}}</h1>
    <span>{{post.post_time}}</span>
    <p>{{post.body}}</p>
    <a href="{% url 'post_edit' index=post.pk %}">수정</a>
    <a href="{% url 'post_delete' index=post.pk %}">삭제</a>

    <div class="comment">
        <form method="post" class="post-form">
            {% csrf_token %}
            <textarea type="text" name="body"></textarea>
            <button type="submit">등록</button>
        </form>
        <div class="comment-list">
            {% for comment in comment_list %}
            <span>{{comment.time}}</span>
            {{comment.body|linebreaks}}
            {% endfor %}
        </div>
    </div>
</body>

</html>